* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
body {
    height: 2000px;
}
/* -------- NAVEGAÇÃO ------------- */
#header {
    display: flex;
    height: 72px;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#header.scroll {
    height: 72px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    animation: 0.3s ease 0s 1 normal none running;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 16px 0px;
    background: rgb(246, 248, 251);
    z-index: 1020;
    font-size: 24px;
    font-weight: bold;
}

.logo {
    width: 100px;
    margin-left: 75px;
}

.navegacao {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    margin: 0 32px;
    display: flex;
}
li a {
    transition: color 0.2s;
    position: relative;
    text-align: left;
    padding: 10px 24px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 200;
    color: rgb(31, 7, 59);
    cursor: pointer;
    transition: 0.2s;
}

a:hover {
    color: rgb(97, 49, 180);
}
li a::after {
    content: "";
    width: 0;
    height: 2px;
    background: rgb(97, 49, 180);

    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.2s ease-in-out;
}

li a:hover::after,
li a.active::after {
    width: 100%;
}

.double-button {
    display: inline-block;
}
.button {
    margin: 0 2px;
    padding: 10px 18px;
    font-size: 14px;
    background: transparent;
    outline: none;
    text-decoration: none;
    line-height: 16px;
    border: 2px solid rgb(97, 49, 180);
    color: rgb(97, 49, 180);
    border-radius: 5px;
    transition: 0.3s;
}

.button:hover {
    color: white;
    background-color: rgb(97, 49, 180);
}
.button:active {
    opacity: 0.4;
}
.divisor {
    height: 40px;
}
/* -------- SECTION HOME ------------- */
.container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wallpaper {
    display: flex;
    margin-top: 40px;
    align-items: center;
    margin-left: 10%;
    width: 40%;
}

.informacoes {
    width: 50%;
    padding-right: 10%;
    margin-top: 80px;
    max-height: 596px;
    display: block;
}

.logos {
    margin-top: 40px;
    margin-bottom: 42px;
    height: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo1 {
    width: 160px;
}

.empresa {
    text-align: center;
    font-size: 14px;
    padding: 0 5px 0px 35px;
    color: #222222;
}
.separador {
    transform: rotate(90deg);
    margin-right: -5%;
    margin-left: 0;
    height: 0px;
    width: 20px;
    border: 0.858786px solid rgb(34, 34, 34);
}
.santander {
    width: 75px;
}

b {
    font-size: 40px;
    color: #1f0738;
}

h1 {
    font-size: 36px;
    color: #1f0738;
    font-weight: 400;
    margin-bottom: 24px;
}

p {
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;

    color: #49495c;
}

.button2 {
    width: 200px;
    height: 60px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 48px;
    font-size: 16px;
    font-weight: normal;
    padding: 19px 32px;
    text-decoration: none;
    outline: none;
    border: 1px solid #e7517e;
    background: #e7517e;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s;
}

.button2:hover {
    opacity: 0.8;
    color: #ffffff;
}
.button2:active {
    opacity: 0.6;
}
/* -------- SECTION COLUNAS ------------- */

.row {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.coluna {
    padding: 30px;
    display: block;
    height: 320px;
    margin: 0 auto;
    border-radius: 10px;
    background: #330066;
    position: relative;
    width: 280px;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
}

.card {
    text-align: center;
    color: white;
    position: relative;
    height: 230px;
}

.detalhe {
    color: white;
    position: relative;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 15px;
}

.sub-detalhe {
    color: white;
    position: relative;
    font-size: 14px;
}

.coluna:hover {
    transform: scale(1.2);
}
.coluna::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 16px 0px;
}

.saiba-mais {
    display: block;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    background: white;
    color: #330066;
    transition: 0.3s;
}
.saiba-mais:hover {
    width: 70%;
}

/* --------- SECTION TWO ---------- */

.container-2 {
    width: 100%;
    margin: 0 16px 0 0;
    display: flex;
    flex-wrap: wrap;
    background: #f6f8fb;
    justify-content: space-between;
}

.wallpaper-2 {
    display: flex;
    margin-top: 4px;
    width: 50%;
    align-items: center;
}

.foto {
    height: 600px;
    border-radius: 0px 0px 120px 0;
    flex: 1;
}

.informacoes-2 {
    text-align: left;
    padding: 64px 0 0 0;
    display: block;
    width: 490px;
    margin-right: 90px;
    display: block;
}

.informacoes-2 h2 {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 32px;
}

.informacoes-2 h2 strong {
    font-weight: 700;
    color: #1f073b;
}

.informacoes-2 img {
    width: 8%;
}
.text-2 {
    margin-top: 36px;
    font-size: 20px;
    color: #7e868e;
}

span {
    font-weight: bold;
}

.conta {
    display: block;
    margin-top: 32px;
    background: #6131b4;
    width: 220px;
    height: 58px;
    color: #ffffff;
    padding: 20px 32px;
    border-radius: 10px;
    transition: 0.2s;
}

.conta:hover {
    color: #ffffff;
    opacity: 0.8;
}

.conta:active {
    opacity: 0.6;
}

/* -------- SECTION THREE ------------- */

.container-3 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 30px;
    align-items: center;
}

.informacoes-3 {
    max-width: 500px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.informacoes-3 h2 {
    font-size: 38px;
    font-weight: 300;
    color: #1f073b;
    margin-top: 40px;
    margin-bottom: 32px;
}

.informacoes-3 h2 strong {
    font-weight: 700;
}

.text-2 {
    font-size: 20px;
    color: #49495c;
}
.fotos-3 {
    width: 50%;
    display: block;
}

.store {
    margin-top: 30px;
    display: flex;
}
.apple,
.google {
    width: 200px;
    margin-left: 30px;
}

.comecar {
    display: block;
    margin-top: 32px;
    background: #6131b4;
    width: 220px;
    height: 58px;
    color: #ffffff;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    transition: 0.2s;
}

.comecar:hover {
    color: #ffffff;
    opacity: 0.8;
}

.comecar:active {
    opacity: 0.6;
}

/* -------- SECTION FOUR ------------- */
/* -------- SECTION COLUNAS ------------- */

.colunas-2 {
    padding: 40px 0px 40px 0px;
    background-color: #f6f8fb;
}

.informacoes-4 {
    padding: 0 16px;
}
.informacoes-4 h2 {
    text-align: center;
    font-size: 38px;
    font-weight: 300;
    color: #1f073b;
    margin-bottom: 16px;
}

.informacoes-4 p {
    text-align: center;
    font-size: 20px;
    color: #7e868e;
}

.coluna-2 {
    padding: 30px;
    display: block;
    height: 320px;
    margin: 0 auto;
    border-radius: 10px;
    background: white;
    position: relative;
    width: 280px;
    transition: 0.3s ease-in-out;
    margin-bottom: 60px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
}

.coluna-2:hover {
    transform: scale(1.2);
}
.coluna-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 16px 0px;
}

.card-2 {
    text-align: center;
    color: black;
    position: relative;
    height: 230px;
}

.detalhe-2 {
    color: black;
    position: relative;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 15px;
}

.sub-detalhe-2 {
    color: black;
    position: relative;
    font-size: 14px;
}

.saiba-mais-2 {
    display: block;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    background: black;
    color: white;
    transition: 0.3s;
}
.saiba-mais-2:hover {
    width: 70%;
    color: white;
}

.saiba-mais-3 {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 60px;
    border-radius: 10px;
    padding: 20px 64px;
    text-align: center;
    background: #330066;
    color: white;
    transition: 0.3s;
}

.saiba-mais-3:hover {
    opacity: 0.8;
    color: white;
}

.saiba-mais-3:active {
    opacity: 0.6;
}

/* -------- SECTION FIVE ------------- */
.container-5 {
    width: 100%;
    display: flex;
}

.wallpaper-3 {
    display: flex;
    width: 45%;
    align-items: center;
}

.foto {
    height: 500px;
    border-radius: 0px 0px 100px 0;
    flex: 1;
    margin-left: 15%;
}

.informacoes-3 {
    padding: 62px 16px;
    width: 100%;
    display: block;
}

.informacoes-3 h1 {
    font-size: 36px;
    margin-bottom: 68px;
    color: #1f073b;
}

.text-3 {
    font-size: 18px;
    color: #7e868e;
}

.conta-2 {
    display: block;
    font-size: 18px;
    margin-top: 32px;
    background: #6131b4;
    color: #ffffff;
    width: 230px;
    padding: 20px 32px;
    border-radius: 10px;
    transition: 0.2s;
}
.conta-2:hover {
    opacity: 0.8;
    color: white;
}

.conta-2:active {
    opacity: 0.6;
}

.foto-2 {
    margin-top: 40px;
}

/* -------- SECTION SIX ------------- */

.section-slides {
    padding: 62px 0;
    background: #1f073b;
}
.container-carrosel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

.info-carrosel {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 16px;
    width: 530px;
}
.info-carrosel h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 24px;
}

.info-carrosel p {
    color: #d7d3de;
    font-size: 18px;
    margin-bottom: 36px;
}

.info-carrosel a {
    text-align: center;
    background: #e7517e;
    border-radius: 4px;
    padding: 16px 32px;
    font-size: 16px;
    color: white;
    transition: 0.2s;
}
.info-carrosel a:hover {
    opacity: 0.8;
}

.info-carrosel a:active {
    opacity: 0.6;
}

/* ----- SLIDES ----- */

.video {
    display: block;
    max-width: 400px;
    margin: 0 20px;
    background: whitesmoke;
    border-radius: 4px;
}
.video img {
    width: 100%;
}

.slide-informacoes {
    padding: 24px;
    height: 350px;
}

.slide-informacoes h3 {
    font-size: 18px;
    margin-top: 12%;
    color: #1f0738;
}

.slide-informacoes p {
    font-size: 14px;
    color: #7e868e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.link-curso {
    position: absolute;
    top: 400px;
    margin: 0 93px;
    padding: 8px 16px;
    background-color: transparent;
    color: rgb(97, 49, 180);
    border: 1px solid rgb(97, 49, 180);
    border-radius: 4px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background-color: #e7517e;
}

.swiper {
    width: 440px;
    margin: 0 auto;
}
/* -------- SECTION SEVEN ------------- */

.container-7 {
    width: 100%;
    margin-right: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #f6f8fb;
    padding: 84px 0 84px 0;
}
.informacoes-7 {
    margin-left: 79px;
    padding: 16px;
    display: block;
}

.informacoes-7 h1 {
    width: 530px;
    font-size: 32px;
    margin-bottom: 24px;
    color: #212529;
    font-weight: bold;
}

.text-7 {
    width: 530px;
    font-size: 16px;
    color: #49495c;
    margin-bottom: 32px;
}

span {
    font-weight: bold;
}

.conta-4 {
    display: block;
    margin-top: 32px;
    background: #6131b4;
    width: 200px;
    height: 58px;
    color: #ffffff;
    padding: 20px 50px;
    border-radius: 10px;
    transition: 0.2s;
}

.conta-4:hover {
    color: #ffffff;
    opacity: 0.8;
}

.conta-4:active {
    opacity: 0.6;
}

/* -------- SECTION EIGHT ------------- */

.noticias {
    display: block;
    margin: 0 104px;
    text-align: center;
    padding: 24px 16px;
}
.noticias h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

.cards-noticias {
    display: flex;
    padding: 36px 48px 24px;
    justify-content: space-between;
}

.logo-2 {
    height: 117px;
    width: 117px;
    display: flex;
    margin: 0 auto -40px;
    border-radius: 50%;
    background: rgb(215, 211, 222);
    border: 1px solid rgb(234, 233, 240);
    align-items: center;
}

.logo-2 img {
    margin: 0 auto;
}

.card-noticia {
    width: 316px;
    margin: 0px 0px 40px 0px;
    padding: 0 16px;
    display: block;
}
article {
    height: 250px;
    padding: 60px 32px 24px;
    border-radius: 4px;
    box-shadow: rgb(9 24 39 / 14%) 0px 10px 8px 1px;
}
.card-noticia h3 {
    font-size: 16px;
}
.card-noticia p {
    font-size: 14px;
}

.site {
    display: flex;
    padding: 16px 0px;
    justify-content: space-between;
}

.site div {
    padding: 8px 16px;
    margin-top: 16px;
}

/* -------- SECTION FOOTER ------------- */

footer {
    padding: 16px 0;
    background: #1f073b;
}
.container-footer {
    padding: 24px 0;
}

.flex-footer {
    align-items: center;
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

.logo-footer {
    margin-bottom: 40px;
    padding: 0 16px 16px 16px;
    width: 150px;
}

.endereco {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 16px 16px 16px;
}

.endereco a {
    color: white;
}

.container-coluna {
    display: flex;
    justify-content: center;
}

.flex-coluna {
    display: flex;
    max-width: 980px;
    justify-content: space-between;
}

.collum {
    display: block;
    width: 160px;
    padding: 0 16px;
    margin: 32px 0 40px 0;
}

.collum h3 {
    color: white;
    font-size: 16px;
    margin: 0 0 16px 0;
}
.collum a {
    display: block;
    color: white;
    font-size: 14px;
    padding: 8px 0;
    text-decoration: underline;
}
.collum a:hover {
    opacity: 0.6;
}
/* -------- SECTION REDE SOCIAL ------------- */

.container-rede-social {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.rede-social {
    align-items: center;
    width: 320px;
    margin-bottom: 40px;
    padding: 0 16px 32px;
}

.rede-social h3 {
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
}
.rede-social i {
    padding: 0 10px 0 0;
    font-size: 35px;
    color: white;
    transition: 0.2s ease-in-out;
}

.rede-social i:hover {
    transform: translateY(-12px);
}

h4 {
    font-size: 14px;
    color: white;
}

.apple-2,
.google-2 {
    width: 130px;
}

.apple-2 {
    margin-right: 10px;
}

/* -------- SECTION LOGOS ------------- */

.section-logos {
    padding: 60px 0;
    display: flex;
}

.container-logos {
    width: 960px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.caixa-logos {
    flex: 1.5;
}

.caixa-logos .foto-1 {
    width: 300px;
    height: 71px;
}

.telefone {
    flex: 1;
}

.telefone p {
    padding-top: 16px;
    margin-bottom: 16px;
    font-size: 12px;
    color: hsla(0, 0%, 100%, 0.5);
}

.telefone a,
.span-2 {
    padding-right: 8px;
    font-size: 14px;
    color: hsla(0, 0%, 100%, 0.5);
}

.telefone a {
    text-decoration: underline;
}

.telefone a:hover {
    opacity: 0.6;
}
