<div class="swiper-slide box-testemunha">
                            <div class="testemunha-imagem">
                                <img src="/financiart/img/frankin.jpg" alt="">
                            </div>
                            <span class="testemunha-nome">Benjamin Franklin</span>
                            <span class="testemunha-profissao">"Pai fundador dos Estados Unidos."</span>
                            <p class="frase">“Se você almeja ser rico,pense em poupar assim como você pensa em ganhar.”</p>
                        </div>
                        <div class="swiper-slide box-testemunha">
                            <div class="testemunha-imagem">
                                <img src="/financiart/img/Robert.png" alt="">
                            </div>
                            <span class="testemunha-nome">Robert Kiyosaki</span>
                            <span class="testemunha-profissao">Escritor do livro "Pai rico, pai pobre"</span>
                            <p class="frase">“Os pobres e a classe média muitas vezes permitem que o poder do dinheiro os controle..”</p>
                        </div>

                        <div class="swiper-slide">
                                <div class="postImg">
                                    <div class="post-wrapper">
                                        <a href="https://www.infomoney.com.br/economia/campos-neto-passamos-muito-tempo-discutindo-nivel-dos-juros-mas-precisamos-focar-nas-reformas-estruturais/" class="post-link">
                                            <div class="divImagem">
                                                <img src="/financiart/img/campos.jpg" alt="">
                                            </div>
                                            <span class="tituloInd">Campos Neto: Passamos muito tempo discutindo nível dos juros, mas precisamos focar nas reformas estruturais</span>
                                            <p class="subtituloInd">Por <strong>InfoMoney</strong> | 20 maio 
                                            2023</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="postImg">
                                    <div class="post-wrapper">
                                        <a href="https://br.investing.com/news/forex-news/dolar-abre-em-queda-com-exterior-mas-passa-a-subir-ante-real-com-ajustes-1115901" class="post-link">
                                            <div class="divImagem">
                                                <img src="/financiart/img/foto2.jpg" alt="">
                                            </div>
                                            <span class="tituloInd">Bolsa Americana abre em queda forte</span>
                                            <p class="subtituloInd">Por <strong>Nasdaq</strong> | 20 maio 
                                            2023</p>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="postImg">
                                    <div class="post-wrapper">
                                        <a href="https://www.infomoney.com.br/onde-investir/hoje-nao-hoje-nao-hoje-sim-o-momento-da-bolsa-esta-proximo/" class="post-link">
                                            <div class="divImagem">
                                                <img src="/financiart/img/b3.jpg" alt="">
                                            </div>
                                            <span class="tituloInd">Hoje não, hoje não, hoje sim: o momento da Bolsa está próximo?</span>
                                            <p class="subtituloInd">Por <strong>InfoMoney</strong> | 20 maio 
                                            2023</p>
                                        </a>
                                    </div>
                                </div>
                            </div>