html {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
}

.sidebar{
    width: max-content;
}

.sidebar h1 {
    position: relative;
    width: 170px;
    height: 66px;
    left: 10px;
    top: -30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 80px;
    border-bottom: 2px solid #af65af38;
    padding-bottom: 0px;
    color: #000000bf;
}

@media screen and (max-width: 600px) {
    .sidebar h1 {
        position: relative;
        left: 0;
        top: 0;
    }
}

.sidebar ul li a {
    position: relative;
    height: 25px;
    left: -30px;
    top: -55px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.filtrar {
    border-radius: 100px;
}

.sidebar ul {
    list-style-type: none;
}

.btn-filtro {
    position: relative;
    left: -30px;
    top: -55px;
    background-color: #6f0091;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 10px;
}

button i {
    background-color: rgb(0, 61, 166);
    color: rgb(0, 61, 166);
    cursor: pointer;
}

.esconder {
    display: none;
}


body {
    background: #256447;

}

:root {
    --form-control-color: #dd0031;
    --form-control-disabled: #959495;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

form {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.form-control {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.1;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.form-control+.form-control {
    margin-top: 1em;
}

.form-control--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.13em solid currentColor;
    border-radius: 0.20em;
    transform: translateY(-0.0075em);

    display: inline-block;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.85em;
    height: 0.85em;
    clip-path: polygon(10% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #af65af;
    
    background-color: CanvasText;
    display: inline-block;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(0px, 0.0995555em) solid currentColor;
    outline-offset: max(0px, 0.15em);
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);

    color: var(--form-control-disabled);
    cursor: not-allowed;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin: 0px;
    border: 0px;
    padding: 0%;
}

#search {
    border-radius: 8px
}

header {
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: left;
}

#logo {
    position: relative;
    max-width: 100%;
    margin: 0 30px;
}

#marca {
    position: relative;
    left: 86%;
    transform: translateX(-100%);
}

@media screen and (max-width: 600px) {
    #marca {
        left: 0;
        transform: none;
    }
}

.menu {
    background-color: #6f0091;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: thin solid rgb(224, 193, 220);
    display: flex;
    margin-bottom: 50px;
}

.menu a {
    font-family: 'Poppins', sans-serif;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    padding: 21px 50px;
    font-size: 17px;
    font-weight: bold;
}

.menu a:hover {
    color: #af65af;
}

main {
    display: flex;
}

section {
    width: 80%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

aside {
    width: 20%;
    background-color: #ffffff;
    word-wrap: break-word;
}

.card {
    height: 190px;
    width: 260px;
    border-radius: 10px;
    padding: 10px;
    background-color: #d1b9ce;
    margin-top: 20px;
    border: 2px solid white;
}

.tituloAtivo{
    font-size: 18px;
    line-height: 20px;
    color: #342d20;
    margin-top: -22px;
}

.Dados h3 {
    margin-top: -5px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
    border: 2px solid #ffffff7a;
    border-radius: 1px;
    background-color: #8916ac;
}


.Dados ul {
    font-size: 14px;
    margin-bottom: -20px;
    color: #000000c7;
    padding-left: 5px;
    position: relative;
    top: -25px;
    width: -webkit-fill-available;
}

.Dados ul li {
    margin-bottom: 3px;
}

.Dados a {
    width: 100px;
    height: 30px;
    margin-top: 55px;
    background-color: #8916ac;
    color: #fff;
    border-radius: 5px;
    padding: 5px 9px;
    cursor: pointer;
    font-size: small;
    border: 2px solid white;
  text-decoration: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.card ul li {
    list-style-type: none;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}


.sidebar ul li a {
    position: relative;
    top: -55px;
    height: 25px;
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    left: -30px;
}

.sidebar ul {
    list-style-type: none;
}

.btn-filtro {
    position: relative;
    background-color: #6f0091;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    top: -55px;
    left: -30px;
}

button i {
    background-color: #6f0091;
    color: #FFFFFF;
}

.esconder {
    display: none;
}

.topnav {
    width: 75%;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 12px;
    margin-right: 16px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 410px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 5px 0px;

}

.container .search {
    background: #FFFFFF;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.20);
}

.search input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 55px 0 10px;
    font-size: 17px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.10);
}

.search .list {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.list li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.list li:hover {
    background: #efefef;
}

.search .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

a.pesquisar {
    padding: 0px;
}
    
@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

@media screen and (max-width: 1030px) {
    .sidebar {
        display: none;
    }

    .container {
        background-color:#a835ca;
    }
}

.home{
    width: 1110px;
    margin: 0 auto;
}

.footer{
    border-top: 1px solid #DEE8F2;
    padding: 50px 0;
    border-bottom: 1px solid #DEE8F2;
    margin-top: 70px;
    margin-left: 250px;
}

.tituloRodape{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #2F281E;
    display: block;
    margin-bottom: 50px;
    padding-left: 35px;
}

.linksRodape{
   color: #544837; 
   text-decoration: none;
}

.linksRodape:hover{
    color: #a835ca;
}

.itemRodape{
   margin-bottom: 15px; 
   list-style: none;
}

.descricaoRodape{
    color: #544837;
    line-height: 24px;
    font-size: 18px;
}

.footerMenu{
    width: 20%;
    float: left;
}

.footerBox{
   width: 40%;
   float: left;
}

.logo{
    width: 100px;
    height: 100px;
    background: url("../img/logo11.png") no-repeat 0 0;
    display: block;
    object-fit: contain;
    margin-top: -25px;
}