body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  background-color: #d0afdb;
  padding: 10px;
  border-radius: 5px;
}

/* Formulário de finanças */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  font-size: 16px;
}

input[type="text"],
select {
  width: 35%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select {
  height: 40px;
  width: 37%;
}

.registrobtn{
  margin: 2% 0 0 0;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #8916ac;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Resumo financeiro */
.summary {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px 0 10px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.summary-item {
  display: inline-block;
  margin-right: 30px;
  color: #333;
}

.summary-item:last-child {
  margin-right: 0;
}

.summary-label {
  font-size: 14px;
  color: #999;
}

.summary-value {
  font-size: 24px;
  font-weight: bold;
  color: #339933; /* verde */
}

/* Lista de finanças */
.finance-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.finance-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.finance-description {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.finance-type {
  margin-right: 10px;
  color: #cc0000; /* vermelho */
}

.finance-amount {
  font-weight: bold;
  margin-right: 10px;
  color: #339933; /* verde */
}

.finance-category {
  color: #999;
  font-size: 12px;
  margin-right: 10px;
}

.grafico{
    margin: 5% 0px 5% 0;
    text-align-last: center;
    font-size: 25px;
}

.delete-button,
.edit-button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #cc0000; /* vermelho */
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
}

.delete-button:hover,
.edit-button:hover {
  background-color: #ff0000; /* vermelho */
}

/* Gráfico de categorias */
.category-chart {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.registro{
  margin: 1% 0 0 0;
}

#finance-form{
background-color: #e8e2ed40;
}

.btnvoltar {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 4px;
  background-color: #8916ac;
  float: right;
  margin: 9% 0 0 0;
}

.btnvoltar:hover {
  background: #3d0d3e;
  color: #ffffff;
}

.voltar{
   margin: 0 5% 0 0;
}