@media only screen and (max-width: 1110px) {
  .home {
    width: 980px;
  }

  .video iframe {
    width: 100%;
  }

  .logohome {
    margin: 40px 0 -50px 7%;
  }

  .inicio {
    margin: 0 8px;
  }

  .cabecalho {
    margin-top: 5%;
  }

  .topicos {
    font-size: 15px;
  }

  .btnentrar {
    margin-left: 15px;
    padding: 7px 23px;
    font-size: 15px;
  }

  .btncadastrar {
    padding: 7px 23px;
    font-size: 15px;
  }

  .titulo {
    font-size: 25px;
    line-height: 30px;
  }

  .textoapresentacao {
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
  }

  .titulofiltro {
    font-size: 18px;
    line-height: 24px;
  }

  .subtitulo {
    font-size: 30px;
  }

  .ilustracao {
    width: 50%;
  }

  .sobrenos2 img {
    width: 85%;
  }

  .testemunha-nome {
    font-size: 25px;
  }

  .histTitulo {
    font-size: 20px;
  }

  .tituloInd {
    font-size: 18px;
    line-height: 20px;
  }

  .descricaoRodape {
    font-size: 16px;
    line-height: 22px;
  }

  .tituloRodape {
    font-size: 18px;
  }

  .textoEmail {
    font-size: 16px;
    margin-top: 2%;
  }

  .content form {
    width: 40%;
  }

  .sessao-email {
    width: 25px;
    height: 29px;
  }

  .btnnoticias {
    margin-top: 2%;
  }

  
}

@media only screen and (max-width: 980px) {
  .home {
    width: 768px;
  }

  .logohome {
    margin: 50px 0 0 0;
  }

  .cabecalho {
    margin: 50px 0 0 0;
  }

  .video iframe {
    width: 270px;
    height: 200px;
    margin: 20% 0 0 15%;
  }

  .apresentacao {
    padding-top: 0;
  }

  .textoapresentacao br {
    display: none;
  }

  .textofiltro br {
    display: none;
  }

  .textofiltro {
    padding-right: 20px;
    font-size: 14px;
    line-height: 18px;
  }

  .filtros {
    margin: 140px 0 130px 0;
  }

  .itemlista span {
    font-size: 14px;
  }

  .hist {
    width: 100%;
    padding: 5px;
  }

  .textoEmail {
    font-size: 14px;
  }

  .content form {
    width: 40%;
  }

  .sessao-email {
    width: 25px;
    height: 29px;
  }

  .footer {
    display: flexbox;
  }

  .descricaoRodape {
    padding-right: 10px;
  }

  .btnnoticias {
    font-size: 15px;
    margin-left: 60%;
    padding: 14px 11px;
  }

  .box-box {
    height: 200px;
    width: 55%;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    width: 640px;
  }

  .cabecalho {
    margin: 0 0 0 0;
  }

  .btnassistir {
    width: 45%;
  }

  .btnapresentacaosabermais {
    width: 55%;
  }

  .apresentacao {
    padding-top: 0;
  }

  .filtros {
    margin: 100px 0 100px 0;
  }

  #sobre {
    margin-bottom: 70px;
  }

  .nossahistoria {
    padding-top: 70px;
  }

  .hist {
    margin-bottom: 40px;
  }

  .filtro1 {
    width: 50%;
    margin-bottom: 20px;
  }

  .swiper-wrapper {
    justify-content: flex-end;
  }

  .box-box {
    height: auto;
  }

  .footerMenu {
    padding-left: 65px;
    margin: 15px 0;
  }

  .tituloRodape {
    margin-bottom: 30px;
  }

  .footerBox {
    width: 75%;
    margin-bottom: 20px;
  }

  .btnnoticias {
    font-size: 15px;
    margin-left: 60%;
    padding: 14px 11px;
  }

  .box-box {
    height: 200px;
    width: 55%;
  }

  .content{
    margin: 2%;
  }
}

@media only screen and (max-width: 640px) {
  .home {
    width: auto;
    padding: 0 20px;
  }

  .btnassistir {
    width: 40%;
  }

  .apresentacao {
    width: 100%;
  }

  .video iframe {
    width: 100%;
    margin: 7% 0 0 5%;
    height: 339px;
  }

  .video {
    width: 100%;
    margin-top: 25px;
  }

  .apresentacaocaixa {
    width: 100%;
    padding-top: 40px;
  }

  .post .home {
    padding: 0 0;
  }

  .footerBox {
    padding-left: 25px;
  }

  #menu-mobile {
    display: block;
    position: fixed;
    right: 40px;
    top: 50px;
    z-index: 101;
  }

  #cabecalho1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .77);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .topicos {
    color: #f2c8ff;
  }

  #cabecalho1 li {
    margin-bottom: 40px;
  }

  .btnentrar {
    margin-left: 0;
    color: #f2c8ff;
    background-color: #502c51a8;
  }

  #sobre {
    margin-right: -65px;
  }

  .btnapresentacao .sabermais {
    margin-left: -16px;
  }

  .btnassistir span {
    font-size: 17px;
    font-weight: 600;
    margin: 12px 0px 0px -11px;
  }

  #sabermais {
    margin-left: -16px;
  }

  .btnnoticias {
    font-size: 13%;
    margin-left: 65%;
    padding: 14px 9px;
  }

  .box-box {
    height: 165px;
    width: 70%;
  }

  .form{
    padding: 5% 0 0 0;
  }
}